
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>

	<div class="container">


		<ul class="nav nav-pills nav-justified">
			<li class="nav-item"><a th:href="@{alumno/viewalumno}">menu
					alumno</a></li>
			<li class="nav-item"><a th:href="@{profesor/viewprofesor}">menu
					profesores</a></li>
			<li class="nav-item"><a th:href="@{asignatura/viewasignatura}">menu
					asignaturas</a></li>
			<li class="nav-item"><a th:href="@{alumno/formularioFaltas}">faltas
					asistencia</a></li>
		</ul>



	</div>
</body>
</html>