<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
<meta charset="utf-8">
<title>Insert title here</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
	<h1>Alumnos</h1>
	<div th:switch="${alumnos}">
		<h2 th:case="null">No alumnos yet!</h2>
		<div th:case="*">
			<h2>Alumnos</h2>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">Apellidos</th>
						<th scope="col">Dni</th>
						<th scope="col">Edad</th>
						<th scope="col">Sexo</th>
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="alumno : ${alumnos}">
						<td th:text="${alumno.nombre}"></td>
						<td th:text="${alumno.apellidos}"></td>
						<td th:text="${alumno.dni}"></td>
						<td th:text="${alumno.edad}"></td>
						<td th:text="${alumno.sexo}"></td>
						<td><a th:href="@{/edit/{id}(id=${alumno.id})}">Edit</a></td>
						<td><a th:href="@{/delete/{id}(id=${alumno.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/alumno/signupalumno">Add a new alumno</a>
		</p>
	</div>

	<h1>Profesores</h1>
	<div th:switch="${profesores}">
		<h2 th:case="null">No profesores yet!</h2>
		<div th:case="*">
			<h2>Profesores</h2>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">Apellidos</th>
						<th scope="col">Dni</th>
						<th scope="col">Edad</th>
						<th scope="col">Sexo</th>
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="profesor : ${profesores}">
						<td th:text="${profesor.nombre}"></td>
						<td th:text="${profesor.apellidos}"></td>
						<td th:text="${profesor.dni}"></td>
						<td th:text="${profesor.edad}"></td>
						<td th:text="${profesor.sexo}"></td>
						<td><a th:href="@{/edit/{id}(id=${profesor.id})}">Edit</a></td>
						<td><a th:href="@{/delete/{id}(id=${profesor.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/profesor/signupprofesor">Add a new profesor</a>
		</p>
	</div>

	<h1>Asignaturas</h1>
	<div th:switch="${asignaturas}">
		<h2 th:case="null">No asignaturas yet!</h2>
		<div th:case="*">
			<h2>Asignaturas</h2>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">siglas</th>
						<th scope="col">horasLectivas</th>
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="asignatura : ${asignaturas}">
						<td th:text="${asignatura.nombre}"></td>
						<td th:text="${asignatura.siglas}"></td>
						<td th:text="${asignatura.horasLectivas}"></td>
						<td><a th:href="@{/edit/{id}(id=${asignatura.id})}">Edit</a></td>
						<td><a th:href="@{/delete/{id}(id=${asignatura.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/asignatura/signupasignatura">Add a new asignatua</a>
		</p>
	</div>
</div>
</body>
</html>