<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
<meta charset="utf-8">
<title>Insert title here</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
	<h1>Asistencias</h1>
	<div th:switch="${asistencias}">
		<h2 th:case="null">No asistencias yet!</h2>
		<div th:case="*">
			<h2>Asistencias</h2>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Id_alumno</th>
						<th scope="col">Fecha</th>
						
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="asistencia : ${asistencias}">
						<td th:text="${asistencia.id_alumno}"></td>
				
						<td><a th:href="@{/edit/{id}(id=${asistencia.id})}">Edit</a></td>
						<td><a th:href="@{/asistencia/delete/{id}(id=${asistencia.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/asistencia/signupasistencia">Add a new asistencia</a>
		</p>
	</div>

	
		<p>
			
	</div>
</div>
</body>
</html>