<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
<meta charset="utf-8">
<title>Insert title here</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">

	<h1>Asignaturas</h1>
	<div th:switch="${asignaturas}">
		<h2 th:case="null">No asignaturas yet!</h2>
		<div th:case="*">
			<h2>Asignaturas</h2>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">siglas</th>
						<th scope="col">horasLectivas</th>
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="asignatura : ${asignaturas}">
						<td th:text="${asignatura.nombre}"></td>
						<td th:text="${asignatura.siglas}"></td>
						<td th:text="${asignatura.horasLectivas}"></td>
						<td><a th:href="@{/edit/{id}(id=${asignatura.id})}">Edit</a></td>
						<td><a th:href="@{/asignatura/delete/{id}(id=${asignatura.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/asignatura/signupasignatura">Add a new asignatua</a>
		</p>
	</div>
</div>
</body>
</html>