<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<h1>Alumnos</h1>
		<div th:switch="${alumnos}">
			<h2 th:case="null">No alumnos yet!</h2>
			<div th:case="*">
				<h2>Alumnos</h2>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Apellidos</th>
							<th scope="col">Dni</th>
							<th scope="col">Edad</th>
							<th scope="col">Sexo</th>
							<th scope="col">Edit</th>
							<th scope="col">Delete</th>
							<th scope="col">Vincular Asignatura</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="alumno : ${alumnos}">
							<td th:text="${alumno.nombre}"></td>
							<td th:text="${alumno.apellidos}"></td>
							<td th:text="${alumno.dni}"></td>
							<td th:text="${alumno.edad}"></td>
							<td th:text="${alumno.sexo}"></td>
							<td><a th:href="@{/alumno/edit/{id}(id=${alumno.id})}">Edit</a></td>
							<td><a th:href="@{/alumno/delete/{id}(id=${alumno.id})}">Delete</a></td>
							<td><a th:href="@{/alumno/vincular/{id}(id=${alumno.id})}">Vincular</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p>
				<a href="/alumno/signupalumno">Add a new alumno</a>
			</p>
		</div>


		<p>
	</div>
	</div>
</body>
</html>