<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
<h3>vincular Alumno</h3>



<form action="#" th:action="@{/alumno/vincularalumno/{id}(id=${alumno.id})}" th:object="${pojo}" method="post">


  <div class="form-row">
    
    <div class="form-group">
    <label for="asig">Asignaturas</label>

       <select th:field="${pojo.idAsignatura}">
                         <option value=""> -- </option>
                         <option th:each="asignatura : ${asignaturas}"
                            th:value="${asignatura.id}"
                            th:text="${asignatura.nombre}"/>
                  </select>
    
    </div>

   
      

    

 
  <button type="submit" class="btn btn-primary" value="Add Alumno">Anyadir Alumno</button>
</form>
</div>

</body>
</html>